<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <!-- The page referred to by the value of the defaultRedirect attribute must be a static HTML page. -->
      <customErrors mode="On" defaultRedirect="/StaticError.html">
        <error statusCode="404" redirect="/404.html"/>
      </customErrors>
    </system.web>

</configuration>
