<?xml version="1.0"?>
<appSettings>
  <add key="LOCALHOST" value="127.0.0.1"/>
  <add key="LOCALHOST_EMAIL_PORT" value="25"/>
  <add key="SYSTEM_EMAIL" value="company@example.com" />
  <add key="EMAIL_PASSWORD" value="password" />
  <add key="GMAIL_SMTP_SERVER" value="smtp.gmail.com"/>
  <add key="GMAIL_PORT" value="587"/>

  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
</appSettings>